$brown-900: #14110f; // marron grimoire ultra sombre
$brown-800: #1a1613; // Un marron un poil plus clair pour les boîtes
$brown-700: #262219; // Marron pour les survols
$brown-500: #4a3e35; // Marron moyen pour les bordures
$brown-400: #3d312a; // Marron pour les ombres

$amber-100: #e3dac9; // beige parchemin clair
$amber-200: #b5945b; // teinte dorée pour les accents
$black-pure: #000000;